*{
    box-sizing: border-box;
}


body {
    height:100vh;
    width:100vw;
    overflow:hidden;
    background-image: url("https://thumbs.dreamstime.com/b/crumpled-old-paper-background-texture-brown-158187253.jpg");
  }
  .head{    
    margin: -30px 1px 1px 1px;
    width:100%;
    height:5%;
    font-size: large;
    display:flex;
    font-family:'Times New Roman', Times, serif;
    justify-content: center;
    position:absolute;
  }
 
  .frame1 {
    float:left;
    width:34%;
    height:35vw;
    margin:5% 0px 0px 10px;
    border: 3px solid #000;
    overflow:scroll;
  }
  .center-button.left{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    border-radius:5px;
    border-radius:5px;
    cursor: pointer;
    position: absolute;
    transform: rotate(90deg);
    top: 49%;
    left: 41%;
    /*hta media mabghatch tkhdem, kmel js w rja3 hna*/
    @media (max-width: 100px) {
      left: 2% !important;
  }
  }
  .center-button.right{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid black;
    border-radius:5px;
    cursor: pointer;
    position: absolute;
    transform: rotate(-90deg);
    /*problem wa9ila nzid media, mli katsghar l window katchyar k button ltaaht*/
    top: 49%;
    left: 39%;
  }
  .headline{
    display:flex;
    justify-content: center;
  }
  .desc{
    width:80%;
    height:30%;
    margin:auto;
    border: 2px solid grey;
    border-radius:10px;
    overflow:scroll;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: larger;
    background-color:#d4d4d4;

  }
 
  .img {
    border: 3px solid #000;
    border-radius: 10px;
    width: 70%;
    height: 45%;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
    background-color:#d4d4d4;
}

.img img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    padding:10px;
  }
  
  .frame2 {
    margin:5% 20px 20px 20px;
    float:right;
    width:50%;
    height:35vw;
    border: 3px solid #000;
    justify-content: right;
    border-radius:10px;
    box-shadow: 5px 5px 0 0 gray;
    overflow: scroll;
  }
.footer{
    width:100%;
    height:5%;
    display:flex;
    justify-content: space-evenly;
}
button{
  background-color: transparent;
  border:transparent;
}
/*rwnt d3wa hna kan khessni nkhdem b ul ms fat lfot db*/
ol {
  list-style: none;
}


ol li ol li li li{
  list-style-type: square;
  }
  